body{
    font-family: "Space Grotesk";
    width: 80vw;
    margin: 0 auto;
    background-color: #111111;
    color: white
}

a{
    color: inherit;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav{
    display: flex;
    gap: 40px;
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}


.active{
    color: white;
}
.inactive{
    color: #9a9a9a;
}

.delight-img{
    height: 50px;
}

h1{
    font-size: 60px;
}

.hero{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
}

span{
    color: #9a9a9a;
}

.tech-stack{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: #111111;
    height: 500px;
    padding: 100px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tech-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

