* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: "Space Grotesk";
  color: white;
}

h1 {
  font-size: 62px;
}

.hero-section {
  width: 80vw;
  margin: 0 auto;
}

.logoMain {
  height: 34px;
}

.main {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.cta-link {
  text-decoration: none;
  background-color: white;
  padding: 10px 10px;
  color: #1e1e1e;
  font-weight: 500;
}

.active {
  color: #9a9a9a;
}

.heroItems {
  margin-top: 60px;
}

.heroSmText {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  width: 80%;
}

.heroItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 600px;
}
.itemsRight {
  display: flex;
  gap: 80px;
}

button {
  margin-top: 20px;
  /* padding: 5px 25px; */
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  inset: none;
  height: 64px;
  width: 184px;
  margin-right: 10px;
}
.secondary {
  margin-top: 20px;
  /* padding: 5px 25px; */
  border: none;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  inset: none;
  height: 64px;
  width: 184px;
  background: none;
  color: #fff;
  border: 2px solid white;
}

i {
  font-weight: 600;
  font-size: 14px;
  margin: 5px;
}

.TechnologyStacks {
  background-color: #f6f6f6;
}
